.login-button{
  width: 100%;
  margin-left: 0px;
  float: right;
}
.login-form{
  width: 300px;
  height: 400px;
  background: #ccc;
  padding: 10px 40px;
  margin: 13rem auto 12rem;
  color: #555555;
}
.login{
  background: url('../../../assets/img/login_bg.jpg') top center no-repeat #f1f1f1;
  background-size: cover;
  padding: .5rem 0;
  margin: 0;
}

.login h4{
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 3.3rem;
}
.forget-password{
  float: right;
}
