.image {
  width: 100%;
  display: block;
}
.site-state-item {
  display: inline-block;
  padding: 0 15px;
  border-left: none;
  width: 26px;
}
.site-state {
  overflow: hidden;
  line-height: 1.4;
  white-space: nowrap;
  text-align: center;
  opacity: 1;
  display: block;
}
.site-state {
  overflow: hidden;
  line-height: 1.4;
  white-space: nowrap;
  text-align: center;
}
.site-state-item-count {
  display: block;
  text-align: center;
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 16px;
}
.sidebar a {
  color: #555;
}
.site-state-item-name {
  font-size: 13px;
  color: #999;
}
.links-of-author {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  font-size: 16px;
}
.links-of-blogroll {
  text-align: center;
  margin-top: 20px;
  padding: 3px 0 0;
  border-top: 1px dotted #ccc;
}
.links-of-blogroll {
  font-size: 13px;
}
.links-of-author-item {
  margin: 5px 0 0;
  width: 50%;
}
.site-overview {
  margin: 0 2px;
  text-align: left;
}
.links-of-author-item a {
  display: block;
  text-decoration: none;
}
.links-of-author-item a {
  max-width: 216px;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: inherit;
  font-size: 12px;
}
.links-of-author-item .fa {
  margin-right: 2px;
  font-size: 16px;
}
.links-of-blogroll-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
}
.links-of-blogroll-list .links-of-blogroll-item {
  margin: 5px 0 0;
  width: 50%;
  display: inline-block;
  width: unset;
}
.links-of-blogroll-item {
  padding: 0;
}
.links-of-blogroll-list .links-of-blogroll-item a {
  max-width: 216px;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: initial;
  font-size: 12px;
}
.site-state-item a{
  text-decoration:none
}
.el-menu-item, .el-submenu__title{
  height: 45px;
  line-height: 45px;
}
.left-fixed{
  margin-top: 0;
  position: fixed;
  z-index: 1;
  width: 244px;
  top:0;
}
